@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::-moz-selection {
  background-color: transparent;
}

*::selection {
  background-color: transparent;
}

@media screen and (min-width: 360px) {
  #container-general__navbar-mobile {
    /* border: 2px solid red; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #141414;
    padding: .5rem;
    width: 100%;
    z-index: 1;
  }
  .containers-navbar {
    height: 9vh;
    /* border: 2px solid green; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .containers-navbar:nth-child(1) {
    /* border: 2px solid greenyellow; */
    width: 25%;
    padding: .8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .containers-navbar:nth-child(2) {
    /* border: 2px solid blue; */
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: .6rem;
  }
  #logo-ia {
    /* border: 2px solid blueviolet; */
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  #icon-nav-mobile {
    color: white;
    height: 100%;
  }
  #contenedor-hamburguesa__navbar-mobile {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    min-height: 0px;
  }
  @-webkit-keyframes bg-animate {
    0% {
      background-color: #404040;
    }
    100% {
      background-color: #262626;
    }
  }
  @keyframes bg-animate {
    0% {
      background-color: #404040;
    }
    100% {
      background-color: #262626;
    }
  }
  .hm-hidden {
    display: none;
  }
  .hm-visible {
    min-height: 1px;
    -webkit-animation-name: bg-animate;
            animation-name: bg-animate;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    background-color: #262626;
  }
  .item-list-navbar-mobile {
    border-bottom: 1px solid gray;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 18px;
    padding: 2.2rem;
    color: #e7e5e4;
    font-weight: 300;
    text-decoration: none;
  }
  .item-list-navbar-mobile::-moz-selection {
    background-color: transparent;
  }
  .item-list-navbar-mobile::selection {
    background-color: transparent;
  }
  .item-list-navbar-mobile:nth-child(4) {
    /* border: 3px solid red; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #contenedor-social-media__navbar {
    /* border: 2px solid yellow; */
    width: 2.7rem;
    height: 2.7rem;
    padding: .5rem;
  }
  .logo-social-media__navbar-mobile {
    height: 100%;
    width: 100%;
    color: white;
  }
}

@media screen and (min-width: 360px) {
  .containers-navbar:nth-child(1) {
    padding: 1.2rem;
  }
  .containers-navbar:nth-child(2) {
    padding: 1rem;
  }
  .item-list-navbar-mobile {
    font-size: 16px;
  }
}

@media screen and (min-width: 375px) {
  .item-list-navbar-mobile {
    font-size: 18px;
  }
  .containers-navbar:nth-child(1) {
    padding: 1rem;
  }
  .containers-navbar:nth-child(2) {
    padding: 1rem;
  }
}

@media screen and (min-width: 414px) {
  .item-list-navbar-mobile {
    font-size: 18px;
  }
}

@media screen and (min-width: 768px) {
  .containers-navbar:nth-child(1) {
    /* border: 2px solid greenyellow; */
    padding: 1.5rem;
  }
  .containers-navbar:nth-child(2) {
    /* border: 2px solid blue; */
    padding: 1.4rem;
  }
  .item-list-navbar-mobile {
    font-size: 22px;
    padding: 2.5rem;
  }
  #icon-nav-mobile {
    /* border: 2px solid blueviolet; */
    width: 3.5rem !important;
    height: 3.5rem !important;
  }
}

@media screen and (min-width: 1280px) {
  #container-general__navbar-mobile {
    display: none;
  }
  #contenedor-hamburguesa__navbar-mobile {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 1280px) {
  #container-general__navbar-desktop {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  #container-general__navbar-desktop {
    background-color: #141414;
    height: 11vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    z-index: 11;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .containers-navbar-desktop {
    /* border: 2px solid green; */
    height: 100%;
  }
  #logo-ia-desktop {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  #logo-ia-desktop::-moz-selection {
    background-color: transparent;
  }
  #logo-ia-desktop::selection {
    background-color: transparent;
  }
  .containers-navbar-desktop:nth-child(1) {
    width: 20%;
    padding: 1.8rem;
  }
  .containers-navbar-desktop:nth-child(2) {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    color: white;
    font-size: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .containers-navbar-desktop:nth-child(3) {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
  }
}

@media screen and (min-width: 1280px) {
  #link-ref__navbar-desktop {
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease;
    color: white;
    text-decoration: none;
  }
  #link-ref__navbar-desktop:hover {
    color: #b8b8bb;
  }
  #link-ref__navbar-desktop::-moz-selection {
    background-color: transparent;
  }
  #link-ref__navbar-desktop::selection {
    background-color: transparent;
  }
  #contenedor-social-media__navbar-desktop {
    /* border: 2px solid red; */
    width: 2.5rem;
    height: 2.5rem;
    padding: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo-social-media__navbar-desktop {
    height: 100%;
    width: 100%;
    -webkit-transition: .2s ease-in;
    transition: .2s ease-in;
    color: white;
  }
  .logo-social-media__navbar-desktop:hover {
    color: #b8b8bb;
  }
}

@media screen and (min-width: 360px) {
  @-webkit-keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 50% 0%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 50% 0%;
    }
    100% {
      background-position: 100% 50%;
    }
  }
  #container-general__Home_P1 {
    /* border: 2px solid red; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: .6rem;
    /* background: linear-gradient(to top left, rgb(43, 43, 43), rgb(0, 0, 0)); */
    background-color: #f5f5f5;
    background-size: 200% auto;
    -webkit-animation: gradient-animation 5s linear infinite;
            animation: gradient-animation 5s linear infinite;
    z-index: -1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 98vh;
  }
  #image-home_P1 {
    /* border: 2px solid green; */
    width: 7rem;
    height: 7rem;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 50%;
    margin: 1rem 0 0 1rem;
    z-index: 10;
    border: 1px solid #9c289c;
  }
  #container-info__Home-P1 {
    /* border: 2px solid green; */
    width: 100%;
    margin-top: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: .3rem;
    /*  height: 20rem; */
    z-index: 10;
  }
  .item-text__Home-P1 {
    font-weight: 300;
    color: black;
  }
  .item-text__Home-P1:nth-child(1) {
    font-size: 30px;
  }
  .item-text__Home-P1:nth-child(2) {
    font-size: 14px;
    color: #737373;
    margin-top: 5px;
  }
  #button-descargarCV__Home__P1 {
    margin-top: .2rem;
    background-color: #047857;
    color: white;
    padding: .5rem;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    width: 85%;
    text-align: center;
  }
  @-webkit-keyframes border-animation {
    0% {
      border-color: #9333ea;
    }
    25% {
      border-color: #6d28d9;
    }
    50% {
      border-color: #5b21b6;
    }
    75% {
      border-color: #8b5cf6;
    }
    100% {
      border-color: #5b21b6;
    }
  }
  @keyframes border-animation {
    0% {
      border-color: #9333ea;
    }
    25% {
      border-color: #6d28d9;
    }
    50% {
      border-color: #5b21b6;
    }
    75% {
      border-color: #8b5cf6;
    }
    100% {
      border-color: #5b21b6;
    }
  }
  #container-texto__home__P1 {
    position: relative;
    width: 100%;
    margin-top: .5rem;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 1.7rem;
    -webkit-animation: border-animation 10s infinite;
            animation: border-animation 10s infinite;
  }
  #container-texto__home__P1::before,
  #container-texto__home__P1::after {
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    border: 3px solid #000000;
    margin: 0 1rem;
    border-radius: 3px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-animation: border-animation 5s infinite;
            animation: border-animation 5s infinite;
  }
  #container-texto__home__P1::before {
    top: 0;
    right: 0;
    border-top: none;
    border-right: none;
  }
  #container-texto__home__P1::after {
    bottom: 0;
    left: 0;
    border-bottom: none;
    border-left: none;
  }
  #texto-home__P1 {
    color: black;
    font-size: 14px;
    text-align: center;
    line-height: 1.7rem;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

@media screen and (min-width: 375px) {
  #container-general__Home_P1 {
    min-height: 115vh;
  }
  #image-home_P1 {
    /* border: 2px solid green; */
    width: 8rem;
    height: 8rem;
  }
  .item-text__Home-P1:nth-child(2) {
    font-size: 16px;
    margin-top: 5px;
  }
  #container-texto__home__P1 {
    margin-top: .3rem;
    padding: 1.6rem;
  }
  #texto-home__P1 {
    line-height: 1.8rem;
    font-size: 14px;
  }
}

@media screen and (min-width: 414px) {
  #image-home_P1 {
    /* border: 2px solid green; */
    width: 10rem;
    height: 10rem;
    margin-bottom: 1rem;
  }
  .item-text__Home-P1:nth-child(1) {
    font-size: 32px;
  }
  .item-text__Home-P1:nth-child(2) {
    font-size: 16px;
    margin-top: 10px;
  }
  #container-texto__home__P1 {
    margin-top: 1.5rem;
    padding: 1.5rem;
  }
  #texto-home__P1 {
    font-size: 16px;
    text-align: center;
    line-height: 1.9rem;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
}

@media screen and (min-width: 768px) {
  #image-home_P1 {
    width: 14rem;
    height: 14rem;
    margin-bottom: 1rem;
  }
  .item-text__Home-P1:nth-child(1) {
    font-size: 2.5rem;
    font-weight: 300;
  }
  .item-text__Home-P1:nth-child(2) {
    font-size: 1.4rem;
    margin-top: 10px;
  }
  #container-texto__home__P1 {
    /* border: 2px solid seagreen; */
    width: 90%;
    margin-top: 1rem;
    height: 50vh;
    padding: 3rem;
  }
  #texto-home__P1 {
    font-size: 22px;
    text-align: center;
    line-height: 3rem;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-wrap: balance;
  }
}

@media screen and (min-width: 1280px) {
  #container-general__Home_P1 {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 1280px) {
  #container-general__HomeP1-DESKTOP {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  #container-general__HomeP1-DESKTOP {
    /*       border: 2px solid green; */
    height: 90vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.1rem;
  }
  #title-IgnacioARG__HomeP1-DESKTOP {
    font-size: 3.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    z-index: 3;
  }
}

@media screen and (min-width: 360px) {
  #container-general__Home__P2 {
    /* border: 2px solid green; */
    background: -webkit-gradient(linear, right bottom, left top, from(#0c0c0c), to(black));
    background: linear-gradient(to top left, #0c0c0c, black);
    z-index: 2;
    border-top: 5px solid black;
  }
  #titulo-habilidades__Home-P2 {
    font-size: 1.8rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    padding: 1rem 0;
    color: white;
    text-align: center;
    margin-top: 1rem;
  }
  .container-GeneralSkill__Home-P2 {
    /* border: 2px solid slateblue; */
    padding: 1rem;
  }
  .cont-eachSkill__Home-P2 {
    /* border: 2px solid red; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: none;
  }
  .titulo-stack__Home-P2 {
    color: #7c50e2;
    font-size: 23px;
    margin-bottom: .8rem;
    margin-left: 1rem;
  }
  .nombre-skill {
    font-size: 16px;
    letter-spacing: .6px;
    color: #838383;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    margin-left: .1rem;
  }
  .logo-skill {
    /* border: 2px solid red; */
    height: 50%;
    width: 4.2rem;
    padding: .7rem;
    color: #404040;
  }
}

@media screen and (min-width: 768px) {
  #container-general__Home__P2 {
    /* border: 2px solid green; */
    min-height: 80vh;
  }
  .container-skills__Home-P2 {
    /* border: 2px solid blue; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: .3rem;
  }
  .cont-eachSkill__Home-P2 {
    /* border: 2px solid red; */
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: .5rem 1rem;
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
  .cont-eachSkill__Home-P2:hover {
    color: blue !important;
    cursor: crosshair;
  }
  .container-GeneralSkill__Home-P2 {
    /* border: 3px solid seagreen; */
    padding: 1.5rem;
  }
  .titulo-stack__Home-P2 {
    margin: 1rem 0;
  }
  .nombre-skill {
    font-size: 19px;
    margin-left: 0rem;
  }
  .logo-skill {
    /* border: 2px solid red; */
    height: 5rem;
    width: 5rem;
    padding: .6rem;
  }
}

@media screen and (min-width: 1280px) {
  #container-general__Home__P2 {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 1280px) {
  #container-general__HomeP2-D {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  #container-general__HomeP2-D {
    /* border: 2px solid greenyellow; */
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 2;
  }
  #subContenedorGeneral_HomeP2-D {
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    background-color: #0c0a09;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .div-interiores__HomeP2-D:nth-child(1) {
    /*  border: 2px solid red; */
    z-index: 5;
    width: 25%;
    height: 80%;
    width: 30%;
    /*   border-top: 2px solid grey; */
    border-right: 1.5px solid grey;
    margin-left: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .div-interiores__HomeP2-D:nth-child(2) {
    /* border: 2px solid brown; */
    width: 65%;
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .title-skill__HomeP2-D {
    color: #a3a3a3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    padding-left: 8px;
  }
  .title-skill__HomeP2-D:hover {
    color: #d4d4d4;
    cursor: pointer;
  }
  .border-left-class {
    border-left: 1.5px groove #9333ea;
  }
  .title-eachSkill__HomeP2-D {
    color: #a3a3a3;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.8rem;
    position: relative;
  }
  .title-eachSkill__HomeP2-D::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    width: 38%;
    border-bottom: 3px groove #9333ea;
    margin: 0 auto;
  }
  #container-second-eachSkill__HomeP2-D {
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container-per-each-skill__HomeP2-D {
    /* border: 1px groove gray; */
    text-align: center;
    width: calc(25%);
    height: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .elem-nombre__HomeP2-D {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 18px;
  }
  .elem-logo__HomeP2-D {
    margin-bottom: 5px;
  }
  .logo-skill:hover {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    cursor: pointer;
    color: var(--color-hex) !important;
  }
}

@media screen and (min-width: 360px) {
  #container-general__Home-P3 {
    /* border: 2px solid red; */
    min-height: 100vh;
    background-color: white;
    border: none;
    z-index: 2;
  }
  #titulo-proyectos__Home-P3 {
    font-size: 25px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 2rem;
    color: #9333ea;
  }
  #contenedor-cards-projects__Home-P3 {
    /* border: 2px solid slateblue; */
    margin-top: 2rem;
    padding: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
  }
  .card-project__Home-P3 {
    /* border: 2px solid firebrick; */
    height: 11.9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-transition: .4s ease-in;
    transition: .4s ease-in;
    background-blend-mode: multiply;
    border-radius: 5px;
    background-color: transparent;
  }
  .card-project__Home-P3:hover {
    background-color: rgba(0, 0, 0, 0.72);
  }
  .container-refs__Home-P3 {
    /* border: 2px solid green; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1rem;
  }
  .nombre_card_project__Home-P3 {
    padding: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 300;
    z-index: 2;
    color: white;
    overflow-wrap: break-word;
    width: 50%;
    text-align: center;
  }
  .cont-ref__Home-P3 {
    border: 2.5px solid gray;
    border-radius: 50%;
    height: 3rem;
    width: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: .6rem;
    background-color: rgba(0, 0, 0, 0.856);
  }
  .btn-ref__Home-P3 {
    width: 100%;
    height: 100%;
    color: white;
  }
  #container-ver-mas-proyectos__Home-P3 {
    /* border: 2px solid red; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: .5rem;
    background: -webkit-gradient(linear, right bottom, left top, from(#0c0c0c), to(black));
    background: linear-gradient(to top left, #0c0c0c, black);
    color: white;
    margin-top: 1rem;
    padding: 1rem;
    text-decoration: none;
  }
  #titulo-ver-mas__Home-P3 {
    /* border: 2px solid saddlebrown; */
    font-weight: 400;
    font-size: 1rem;
    text-decoration: none;
  }
  @-webkit-keyframes slide {
    0% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
    50% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  @keyframes slide {
    0% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
    50% {
      -webkit-transform: translateX(10px);
              transform: translateX(10px);
    }
    100% {
      -webkit-transform: translateX(0px);
              transform: translateX(0px);
    }
  }
  #flecha-right__Home-P3 {
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 1px;
    -webkit-animation: slide 1.5s linear infinite;
            animation: slide 1.5s linear infinite;
  }
}

@media screen and (min-width: 414px) {
  #container-ver-mas-proyectos__Home-P3 {
    margin-top: 2.5rem;
  }
  .card-project__Home-P3 {
    /* border: 2px solid firebrick; */
    height: 13.5rem;
  }
}

@media screen and (min-width: 768px) {
  #contenedor-cards-projects__Home-P3 {
    /* border: 2px solid darkred; */
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.5rem;
  }
  .card-project__Home-P3 {
    width: 90%;
    border-radius: 10px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-left: 1.5rem;
  }
  .container-refs__Home-P3 {
    /* border: 2px solid green; */
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    right: 44rem;
    gap: 1.5rem;
  }
  .cont-ref__Home-P3 {
    border: 2.5px solid gray;
    height: 3.2rem;
    width: 3.2rem;
    background-color: rgba(0, 0, 0, 0.925);
  }
  .card-project__Home-P3 {
    /* border: 2px solid firebrick; */
    height: 22rem;
  }
  .card-project__Home-P3:hover {
    background-color: rgba(0, 0, 0, 0);
  }
  #titulo-proyectos__Home-P3 {
    font-size: 2.6rem;
    margin-top: 3rem;
  }
  .nombre_card_project__Home-P3 {
    font-size: 1.4rem;
    padding: 1.5rem;
    font-weight: 400;
    width: 53%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.911);
    margin-top: 5rem;
    border-radius: 30px 5px 0px 30px;
    -webkit-transition: .5s ease;
    transition: .5s ease;
  }
  .nombre_card_project__Home-P3:hover {
    background-color: rgba(255, 255, 255, 0.534);
    color: black;
    font-weight: bold;
    width: 57%;
  }
  #container-ver-mas-proyectos__Home-P3 {
    padding: 1.7rem;
  }
  #titulo-ver-mas__Home-P3 {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 820px) {
  .container-refs__Home-P3 {
    right: 47rem;
  }
}

@media screen and (min-width: 1280px) {
  #container-general__Home-P3 {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 1280px) {
  #contenedor-general__HomeP3-D {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  #contenedor-general__HomeP3-D {
    display: block;
    border: 2px solid greenyellow;
    height: 100vh;
  }
}

@media screen and (min-width: 360px) {
  #container-general__Home-P4 {
    /*  border: 2px solid blue; */
    background-color: #f1f1f1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 125vh;
    z-index: 2;
  }
  #titulo-contacto__Home-P4 {
    /* border: 2px solid red; */
    color: #334155;
    font-size: 3.2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 200;
    -webkit-animation: textColor 8s infinite;
            animation: textColor 8s infinite;
    margin: 1.7rem .4rem 1rem 1rem;
  }
  #container-titleAndLogo__Home-P4 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #logo-contacto__Home-P4 {
    width: 1.6rem;
    height: 1.8rem;
    margin-top: .9rem;
    color: #06b6d4;
  }
  #texto-contacto__Home-P4 {
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 1rem;
    text-align: center;
    color: #262626;
    font-weight: 700;
  }
  .hr {
    width: 100%;
    border: 1.5px solid black;
    margin: 10px 0;
  }
  .hr:nth-of-type(1) {
    width: 70%;
  }
  .hr:nth-of-type(2) {
    width: 50%;
  }
  .hr:nth-of-type(3) {
    width: 30%;
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 414px) {
  #container-general__Home-P4 {
    min-height: 10vh;
  }
}

@media screen and (min-width: 768px) {
  #titulo-contacto__Home-P4 {
    /* border: 2px solid red; */
    color: #334155;
    font-size: 3.5rem;
    margin-top: 1.9rem;
  }
  .hr {
    border: 2px solid black;
    margin: 15px 0;
  }
  .hr:nth-of-type(1) {
    width: 55%;
  }
  .hr:nth-of-type(2) {
    width: 35%;
  }
  .hr:nth-of-type(3) {
    width: 15%;
    margin-bottom: 2rem;
  }
  #texto-contacto__Home-P4 {
    font-size: 22px;
  }
}

@media screen and (min-width: 360px) {
  #form-contact__Home-P4 {
    /* border: 2px solid red; */
    margin: 1rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    gap: 1.5rem;
    padding: 1rem;
  }
  #form-contact__Home-P4 input,
  textarea {
    padding: 8px;
    background-color: #0c0c0cd2;
    width: 85%;
    border-radius: 15px;
    color: white;
  }
  #form-contact__Home-P4 input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #d1d5db;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 5px;
  }
  #form-contact__Home-P4 input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #d1d5db;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 5px;
  }
  #form-contact__Home-P4 input::-ms-input-placeholder,
  textarea::-ms-input-placeholder {
    color: #d1d5db;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 5px;
  }
  #form-contact__Home-P4 input::placeholder,
  textarea::placeholder {
    color: #d1d5db;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 5px;
  }
  #form-contact__Home-P4 textarea {
    height: 12rem;
  }
  #form-contact__Home-P4 button {
    background-color: #5b21b6;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    padding: 10px;
    width: 50%;
    border-radius: 30px;
    font-weight: 400;
  }
}

@media screen and (min-width: 768px) {
  #form-contact__Home-P4 {
    /* border: 2px solid red; */
    margin: 0rem 0;
    width: 80%;
    gap: 1.7rem;
    padding: 2rem;
  }
  #form-contact__Home-P4 textarea {
    height: 17rem;
  }
  #form-contact__Home-P4 input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #cfcdcd;
    font-weight: 500;
    font-size: 17px;
  }
  #form-contact__Home-P4 input:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #cfcdcd;
    font-weight: 500;
    font-size: 17px;
  }
  #form-contact__Home-P4 input::-ms-input-placeholder,
  textarea::-ms-input-placeholder {
    color: #cfcdcd;
    font-weight: 500;
    font-size: 17px;
  }
  #form-contact__Home-P4 input::placeholder,
  textarea::placeholder {
    color: #cfcdcd;
    font-weight: 500;
    font-size: 17px;
  }
  #form-contact__Home-P4 button {
    padding: 12px;
    width: 50%;
    font-weight: 500;
    font-size: 18px;
  }
}

/* Estilos del componente 'Social Media Grid' */
.contenedor-grid-socialMedia__Home-P4 {
  /* border: 2px solid blue; */
  margin: 1.5rem 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: .4rem;
}

.item-grid-socialMedia__Home-P4 {
  /*  border: 2px solid red; */
  background-color: #111111e0;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: .1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border-radius: 15px;
  width: 95%;
}

.cont-logo-socialMed__Home-P4 {
  /* border: 2px solid green; */
  padding: 9px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-socialMedia__Home-P4 {
  /* border: 2px solid red; */
  width: 1.8rem;
  height: 1.8rem;
}

.item-grid-socialMedia__Home-P4 h3 {
  /*  border: 2px solid red; */
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  margin-top: 10px;
}

.text-instagram {
  background-image: -webkit-gradient(linear, left top, right top, from(#D64EC1), color-stop(#9e2a91), color-stop(#9833ac), color-stop(#c13584), color-stop(#D64EC1), to(#833ab4));
  background-image: linear-gradient(to right, #D64EC1, #9e2a91, #9833ac, #c13584, #D64EC1, #833ab4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* Estilos para cada contenedor de Social Media */
.item-grid-socialMedia__Home-P4:nth-child(1) {
  color: #C5439D;
}

.item-grid-socialMedia__Home-P4:nth-child(2) {
  color: #2B7DBE;
}

.item-grid-socialMedia__Home-P4:nth-child(3) {
  color: #cacaca;
}

.item-grid-socialMedia__Home-P4:nth-child(4) {
  color: #64C351;
}

@media screen and (min-width: 768px) {
  .contenedor-grid-socialMedia__Home-P4 {
    /*  border: 2px solid blue; */
    margin: 2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: .6rem;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .item-grid-socialMedia__Home-P4 {
    /* border: 2px solid red; */
    background-color: #111111ec;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 38%;
    height: 13rem;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  .item-grid-socialMedia__Home-P4:hover {
    background-color: #111111d5;
  }
  .item-grid-socialMedia__Home-P4 h3 {
    /*  border: 2px solid red; */
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    margin-top: 10px;
  }
  .item-grid-socialMedia__Home-P4:nth-child(2) {
    margin-top: 5px;
  }
}

@media screen and (min-width: 360px) {
  #container-general__Footer {
    min-height: 15vh;
    background-color: #141414;
    color: white;
    padding: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: .3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #container-nameAndLogo__Footer {
    /* border: 2px solid greenyellow; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: .1rem;
  }
  #container-2__footer {
    /* border: 2px solid slateblue; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: .7rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .text-footer__footer {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* text-wrap:balance; */
    font-weight: 200;
    font-size: 14px;
  }
  #logo-copyright__footer {
    /* border: 2px solid darkred; */
    width: 1.1rem;
    height: 1.1rem;
    margin-bottom: .5rem;
  }
  .text-footer__footer:nth-child(3) {
    color: #9ca3af;
    font-size: 13px;
  }
}

@media screen and (min-width: 414px) {
  #container-general__Footer {
    min-height: 18vh;
  }
  .text-footer__footer {
    font-weight: 200;
    font-size: 15px;
  }
  #logo-copyright__footer {
    width: 1.1rem;
    height: 1.1rem;
    margin-top: 2px;
  }
  .text-footer__footer:nth-child(3) {
    color: #9ca3af;
    font-size: 13px;
  }
}

@media screen and (min-width: 768px) {
  #container-general__Footer {
    min-height: 18vh;
  }
  .text-footer__footer {
    font-size: 20px;
  }
  #logo-copyright__footer {
    width: 1.2rem;
    height: 1.2rem;
    margin-bottom: .5rem;
  }
  .text-footer__footer:nth-child(3) {
    font-size: 20px;
    margin-left: 2rem;
  }
}

@media screen and (min-width: 1280px) {
  .container-languaje-ArabicSpanish__HomeP1 {
    /* border: 2px solid red; */
    width: 21rem;
    min-height: 20rem;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .spanish-text {
    text-align: center;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    margin: 0 2rem;
    line-height: 2rem;
  }
  .arabic-text {
    text-align: center;
    font-size: 1.4rem;
    margin: 0 2.5rem;
  }
  /*  */
  .fade-in {
    opacity: 0;
    -webkit-animation: fade-in-animation 0.5s ease-in forwards;
            animation: fade-in-animation 0.5s ease-in forwards;
  }
  @-webkit-keyframes fade-in-animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade-in-animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 1280px) {
  #container-gridHomeP1_Desktop {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  #container-gridHomeP1_Desktop {
    /* border: 2px solid forestgreen; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 40%;
    height: 100%;
    gap: 10px;
    display: flex;
    z-index: 2;
  }
  .image-left__HomeP1-DESKTOP {
    /* border: 2px solid blue; */
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: -75px;
       object-position: -75px;
  }
  .image-left__HomeP1-DESKTOP,
  .image-right__HomeP1-DESKTOP {
    -webkit-filter: grayscale(10%);
            filter: grayscale(10%);
  }
  .container-right-flex__HomeP1-DESKTOP:nth-child(2) {
    /*  border: 2px solid greenyellow; */
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
  }
  .image-right__HomeP1-DESKTOP {
    /* border: 2px solid red; */
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: 50%;
  }
}
/*# sourceMappingURL=styles.css.map */