@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 375px) {
  #container-general__navbar-mobile {
    /* border: 2px solid red; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #171717;
    padding: .5rem;
  }
  .containers-navbar {
    height: 9vh;
  }
  .containers-navbar:nth-child(1) {
    /* border: 2px solid greenyellow; */
    width: 25%;
    padding: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .containers-navbar:nth-child(2) {
    /* border: 2px solid blue; */
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: .8rem;
  }
  #logo-ia {
    /* border: 2px solid blueviolet; */
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  #icon-nav-mobile {
    color: white;
    height: 100%;
  }
  #contenedor-hamburguesa__navbar-mobile {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    min-height: 0px;
  }
  @-webkit-keyframes bg-animate {
    0% {
      background-color: #404040;
    }
    100% {
      background-color: #262626;
    }
  }
  @keyframes bg-animate {
    0% {
      background-color: #404040;
    }
    100% {
      background-color: #262626;
    }
  }
  .hm-hidden {
    display: none;
  }
  .hm-visible {
    min-height: 1px;
    -webkit-animation-name: bg-animate;
            animation-name: bg-animate;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    background-color: #262626;
  }
  .item-list-navbar-mobile {
    border-bottom: 1px solid gray;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 21px;
    padding: 2.2rem;
    color: #e7e5e4;
    font-weight: 300;
  }
  .item-list-navbar-mobile::-moz-selection {
    background-color: transparent;
  }
  .item-list-navbar-mobile::selection {
    background-color: transparent;
  }
  .item-list-navbar-mobile:nth-child(4) {
    /* border: 3px solid red; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #contenedor-social-media__navbar {
    /* border: 2px solid yellow; */
    width: 3rem;
    height: 3rem;
    padding: .5rem;
  }
  .logo-social-media__navbar-mobile {
    height: 100%;
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */