@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (min-width: 320px) {
  #container-general__navbar-mobile {
    /* border: 2px solid red; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #141414;
    padding: .5rem;
    width: 100%;
  }
  .containers-navbar {
    height: 9vh;
  }
  .containers-navbar:nth-child(1) {
    /* border: 2px solid greenyellow; */
    width: 25%;
    padding: .8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .containers-navbar:nth-child(2) {
    /* border: 2px solid blue; */
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding: .6rem;
  }
  #logo-ia {
    /* border: 2px solid blueviolet; */
    height: 100%;
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  #icon-nav-mobile {
    color: white;
    height: 100%;
  }
  #contenedor-hamburguesa__navbar-mobile {
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    min-height: 0px;
  }
  @-webkit-keyframes bg-animate {
    0% {
      background-color: #404040;
    }
    100% {
      background-color: #262626;
    }
  }
  @keyframes bg-animate {
    0% {
      background-color: #404040;
    }
    100% {
      background-color: #262626;
    }
  }
  .hm-hidden {
    display: none;
  }
  .hm-visible {
    min-height: 1px;
    -webkit-animation-name: bg-animate;
            animation-name: bg-animate;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    background-color: #262626;
  }
  .item-list-navbar-mobile {
    border-bottom: 1px solid gray;
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 18px;
    padding: 2.2rem;
    color: #e7e5e4;
    font-weight: 300;
  }
  .item-list-navbar-mobile::-moz-selection {
    background-color: transparent;
  }
  .item-list-navbar-mobile::selection {
    background-color: transparent;
  }
  .item-list-navbar-mobile:nth-child(4) {
    /* border: 3px solid red; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  #contenedor-social-media__navbar {
    /* border: 2px solid yellow; */
    width: 2.7rem;
    height: 2.7rem;
    padding: .5rem;
  }
  .logo-social-media__navbar-mobile {
    height: 100%;
    width: 100%;
  }
}

@media screen and (min-width: 360px) {
  .containers-navbar:nth-child(1) {
    padding: 1.2rem;
  }
  .containers-navbar:nth-child(2) {
    padding: 1rem;
  }
  .item-list-navbar-mobile {
    font-size: 16px;
  }
}

@media screen and (min-width: 375px) {
  .containers-navbar:nth-child(1) {
    padding: 1rem;
  }
  .containers-navbar:nth-child(2) {
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .containers-navbar:nth-child(1) {
    /* border: 2px solid greenyellow; */
    padding: 1.5rem;
  }
  .containers-navbar:nth-child(2) {
    /* border: 2px solid blue; */
    padding: 1.4rem;
  }
  .item-list-navbar-mobile {
    font-size: 20px;
  }
}

@media screen and (min-width: 900px) {
  #container-general__navbar-mobile {
    display: none;
  }
  #contenedor-hamburguesa__navbar-mobile {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 900px) {
  #container-general__navbar-desktop {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  #container-general__navbar-desktop {
    background-color: #141414;
    height: 11vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .containers-navbar-desktop {
    /* border: 2px solid green; */
    height: 100%;
  }
  #logo-ia-desktop {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  #logo-ia-desktop::-moz-selection {
    background-color: transparent;
  }
  #logo-ia-desktop::selection {
    background-color: transparent;
  }
  .containers-navbar-desktop:nth-child(1) {
    width: 20%;
    padding: 1.8rem;
  }
  .containers-navbar-desktop:nth-child(2) {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    color: white;
    font-size: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .containers-navbar-desktop:nth-child(3) {
    width: 20%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: white;
  }
}

@media screen and (min-width: 1280px) {
  #link-ref__navbar-desktop {
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    -webkit-transition: .3s ease;
    transition: .3s ease;
  }
  #link-ref__navbar-desktop:hover {
    color: #b8b8bb;
  }
  #link-ref__navbar-desktop::-moz-selection {
    background-color: transparent;
  }
  #link-ref__navbar-desktop::selection {
    background-color: transparent;
  }
  #contenedor-social-media__navbar-desktop {
    /* border: 2px solid red; */
    width: 2.5rem;
    height: 2.5rem;
    padding: .5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo-social-media__navbar-desktop {
    height: 100%;
    width: 100%;
    -webkit-transition: .2s ease-in;
    transition: .2s ease-in;
  }
  .logo-social-media__navbar-desktop:hover {
    color: #b8b8bb;
  }
}

@media screen and (min-width: 360px) {
  #container-general__Home_P1 {
    /* border: 2px solid red; */
    margin-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: .7rem;
  }
  #image-home_P1 {
    width: 11rem;
    height: 20rem;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: -55px;
       object-position: -55px;
    border-radius: 0px 30px 00px 30px;
  }
  #container-info__Home-P1 {
    /* border: 2px solid green; */
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .item-text__Home-P1 {
    font-size: 16px;
    font-weight: 400;
  }
}
/*# sourceMappingURL=styles.css.map */