//? Inicio de estilos de form contact

/* Android - Mobile */
@media screen and (min-width:360px) {
    #form-contact__Home-P4 {
        /* border: 2px solid red; */
        margin: 1rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 1.5rem;
        padding: 1rem;
    }

    #form-contact__Home-P4 input,
    textarea {
        padding: 8px;
        background-color: #0c0c0cd2;
        width: 85%;
        border-radius: 15px;
        color: white;
    }

    #form-contact__Home-P4 input::placeholder,
    textarea::placeholder {
        color: #d1d5db;
        font-weight: 300;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-left: 5px;
    }

    #form-contact__Home-P4 textarea {
        height: 12rem;
    }

    #form-contact__Home-P4 button {
        background-color: #5b21b6;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: white;
        padding: 10px;
        width: 50%;
        border-radius: 30px;
        font-weight: 400;
    }
}

/* Tablets */
@media screen and (min-width:768px) {
    #form-contact__Home-P4 {
        /* border: 2px solid red; */
        margin: 0rem 0;
        width: 80%;
        gap: 1.7rem;
        padding: 0rem;
    }

    #form-contact__Home-P4 textarea {
        height: 17rem;
    }

    #form-contact__Home-P4 input::placeholder,
    textarea::placeholder {
        color: #cfcdcd;
        font-weight: 500;
        font-size: 17px;
    }

    #form-contact__Home-P4 button {
        padding: 12px;
        width: 50%;
        font-weight: 500;
        font-size: 18px;
    }
}

/* Macbook y Laptops */
@media screen and (min-width:1440px) {

    //* Contenedor general del Formulario
    #form-contact__Home-P4 {
        /* border: 2px solid blue; */
        margin-top: 2rem;
        padding: 0rem;
        width: 75%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        align-self: center;
    }


    //* Propiedades de Inputs y TextArea
    #form-contact__Home-P4 input,
    textarea {
        padding: 15px;
        width: 85%;
        border-radius: 0;
        border-left: 1px solid white;
        background-blend-mode: multiply;
        background-color: rgba(255, 255, 255, 0);
    }

    #form-contact__Home-P4 input:focus {
        outline: none;
        border: none;
        border-left: 1px solid white;
        border-bottom: 1px solid white;
    }

    // * Propiedades para el textarea
    textarea {
        border: 1px solid white;
        border-radius: 2px;
        height: 14rem;
        max-height: 15rem;
        min-height: 205;
    }

    textarea:focus {
        box-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
        outline: none;
    }

    //* Propiedades para Placeholder
    #form-contact__Home-P4 input::placeholder,
    textarea::placeholder {
        color: white;
        font-weight: 300;
        font-size: 15px;
    }

    // * Propiedades del Button - Form
    #form-contact__Home-P4 button {
        padding: 12px;
        width: 50%;
        font-weight: 400;
        margin-top: 2rem;
        background-color: var(--color--principal);
    }
}