//Grid de Home P1 - Desktop

@media screen and (min-width:320px) and (max-width:1280px) {
    #container-gridHomeP1_Desktop {
        display: none;
    }
}

@media screen and (min-width:1280px) {
    #container-gridHomeP1_Desktop {
        /* border: 2px solid forestgreen; */
        display: flex;
        width: 40%;
        height: 100%;
        gap: 10px;
        display: flex;
        z-index: 2;
        margin-left: 5rem;
    }

    .image-left__HomeP1-DESKTOP {
        /* border: 2px solid blue; */
        width: 45%;
        object-fit: cover;
        object-position: -55px;
    }

    .image-left__HomeP1-DESKTOP,
    .image-right__HomeP1-DESKTOP{
        filter: grayscale(10%);
    }

    .container-right-flex__HomeP1-DESKTOP:nth-child(2) {
        /* border: 2px solid slateblue; */
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: .5rem;
    }

    .image-right__HomeP1-DESKTOP{
        /* border: 2px solid red; */
        flex-grow: 1;
        width: 100%;
        object-fit: cover;
        height: 50%;
        padding: .5rem;
    }
}