// ? Home P1 - DESKTOP

//Con esta media query, ocultamos este componente en resoluciones mobiles
@media screen and (min-width:320px) and (max-width:1280px) {
    #container-general__HomeP1-DESKTOP {
        display: none;
    }
}

//* Media Querys para Desktop ✌🏼

@media screen and (min-width:1280px) {
    #container-general__HomeP1-DESKTOP {
        /* border: 2px solid green; */
        height: 90vh;
        display: flex;
    }

    .contenedor-interior__HomeP1-DESKTOP {
        width: 50%;
    }


    //? Clases Contenedor 1
    .contenedor-interior__HomeP1-DESKTOP:nth-of-type(1) {
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
    }

    #container-image-HomeP1-DESKTOP {
        /* border: 2px solid gray; */
        height: 80%;
        width: 60%;
        margin: 2rem;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    #Image-Main__HomeP1-DESKTOP {
        /* border: 2px solid maroon; */
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: .6s ease;
        pointer-events: none;
        z-index: 2;
    }

    .TranslateElement {
        transition: .5s ease;
        transform: translate(300px, 0px);
        width: 32% !important;
        object-position: -99px;
        filter: grayscale(20%);
    }

    //? Clases Contenedor 2
    .contenedor-interior__HomeP1-DESKTOP:nth-of-type(2) {
        /* border: 2px solid blue; */
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #title-IgnacioARG__HomeP1-DESKTOP {
        font-size: 3.5rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
    }

}