// ? Estilos Home_P1

@media screen and (min-width:360px) {
    @keyframes gradient-animation {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 50% 0%;
        }

        100% {
            background-position: 100% 50%;
        }
    }

    #container-general__Home_P1 {
        /* border: 2px solid red; */
        display: flex;
        flex-direction: column;
        padding: .7rem;
        height: 85vh;
        background: linear-gradient(to top left, rgb(61, 61, 61), rgb(0, 0, 0));
        background-size: 200% auto;
        animation: gradient-animation 5s linear infinite;
    }

    #image-home_P1 {
        /* border: 2px solid green; */
        width: 7rem;
        height: 7rem;
        object-fit: cover;
        border-radius: 50%;
        margin: 1rem 0 0 1rem;
    }

    #container-info__Home-P1 {
        /* border: 2px solid green; */
        width: 100%;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .3rem;
        height: 20rem;
    }

    .item-text__Home-P1 {
        font-size: 10px;
        font-weight: 300;
        color: white;
    }

    .item-text__Home-P1:nth-child(1) {
        font-size: 32px;
    }

    .item-text__Home-P1:nth-child(2) {
        font-size: 15px;
        color: #737373;
    }

    #button-descargarCV__Home__P1 {
        margin-top: .2rem;
        background-color: #047857;
        color: white;
        padding: .5rem;
        border: none;
        cursor: pointer;
        border-radius: 20px;
        width: 85%;
        text-align: center;
    }
}

@media screen and (min-width:375px) {
    #container-general__Home_P1 {
        height: 90vh;
    }

    #image-home_P1 {
        /* border: 2px solid green; */
        width: 7.5rem;
        height: 7.5rem;
        object-fit: cover;
        border-radius: 50%;
        margin: 1rem 0 0 1.3rem;
    }

    .item-text__Home-P1:nth-child(2) {
        font-size: 16px;
    }
}

@media screen and (min-width:414px) {
    #image-home_P1 {
        /* border: 2px solid green; */
        width: 7.5rem;
        height: 7.5rem;
        object-fit: cover;
        border-radius: 50%;
        margin: 1rem 0 0 1.3rem;
    }

    .item-text__Home-P1:nth-child(1) {
        font-size: 34px;
    }

    .item-text__Home-P1:nth-child(2) {
        font-size: 17px;
    }
}