// ? Estilos Home_P1

@media screen and (min-width:360px) {
    #container-general__Home_P1{
        /* border: 2px solid red; */
        margin-top: 6rem;
        display: flex;
        padding: .7rem;
    }

    #image-home_P1{
        width: 11rem;
        height: 20rem;
        object-fit: cover;
        object-position: -55px;
        border-radius: 0px 30px 00px 30px;
    }

    #container-info__Home-P1{
        /* border: 2px solid green; */
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .item-text__Home-P1{
        font-size: 16px;
        font-weight: 400;
    }
}