//? Estilos Home_P4

/* 360px - Android */
@media screen and (min-width: 360px) {

    //* Contenedor General
    #container-general__Home-P4 {
        /* border: 2px solid blue; */
        background-color: #f1f1f1;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 125vh;
        z-index: 2;
    }

    //* Seccion 1 y 2
    #seccion-1__HomeP4,
    #seccion-2__HomeP4 {
        /* border: 2px solid green; */
        width: 100%;
    }

    //* Contenedor del Titulo Cabecera
    #container-titleAndLogo__Home-P4 {
        /* border: 2px solid red; */
        display: flex;
        align-items: center;
        justify-content: center;
        /* Alineacion Horizontal  */
        margin-top: 2rem;
        margin-bottom: 1rem;
        display: none;
    }

    //* Propieades del Titulo Panes Redes Sociales
    #TituloPanelRedesSociales__HomeP4{
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
        margin-top: 1rem;
        font-weight: bold;
    }
}

@media screen and (min-width:360px) and (max-width:1440px) {
    #IndexSection {
        display: none;
        visibility: hidden;
    }
}

/* 414px - IPhone 11 */
@media screen and (min-width: 414px) {

    //* Contenedor General
    #container-general__Home-P4 {
        min-height: 10vh;
    }
}

@media screen and (min-width: 768px) {

    //* Propiedades del Titulo
    #titulo-contacto__Home-P4 {
        /* border: 2px solid red; */
        color: #334155;
        font-size: 3.5rem;
        margin-top: 1.9rem;
    }

    #texto-contacto__Home-P4 {
        font-size: 22px;
    }
}

/* Macbook y Laptops */
@media screen and (min-width: 1440px) {

    //* Contenedor General
    #container-general__Home-P4 {
        height: 100vh;
        flex-direction: row;
    }

    //* Seccion 1 y 2
    #seccion-1__HomeP4,
    #seccion-2__HomeP4 {
        height: 100%;
        /* border: 2px solid green; */
    }

    /* 1 */
    #seccion-1__HomeP4 {
        /* border: 2px dashed red; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        background-image: url(https://marketplace.canva.com/nqEa8/MAEUhKnqEa8/1/s2/canva-indoor-plants-on-the-pot-MAEUhKnqEa8.jpg);
        background-position-y: top;
        background-size: cover;
        background-blend-mode: multiply;
        background-color: rgba(0, 0, 0, 0.627);
    }

    /* 2 */
    #seccion-2__HomeP4 {
        /*   border: 2px solid seagreen; */
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1.2rem;
    }

    //* Contenedor del Titulo Cabecera
    #container-titleAndLogo__Home-P4 {
        /*  border: 2px solid red; */
        width: 100%;
        justify-content: flex-end;
        padding-right: 2rem;
    }

    // * Texto 'Te Invito a conectarte' 
    #texto-contacto__Home-P4 {
        font-size: 22px;
        font-weight: 300;
    }

    //* Titulo de 'Api' de Formspree
    #titulo-Formspree_HomeP4 {
        /* border: 2px solid slateblue; */
        font-size: 1.8rem;
        color: white;
        text-align: center;
        padding: 1rem;
        font-weight: 200;
    }

    //* Clase NEGRITA
    .B-Negrita {
        color: var(--color--principal);
        font-weight: bold;
    }
}