// ? Home P1 - DESKTOP

//Con esta media query, ocultamos este componente en resoluciones mobiles
@media screen and (min-width:320px) and (max-width:1280px) {
    #container-general__HomeP1-DESKTOP {
        display: none;
    }
}

//* Media Querys para Desktop 

@media screen and (min-width:1280px) {
    #container-general__HomeP1-DESKTOP {
  /*       border: 2px solid green; */
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 1rem;
    }

    #title-IgnacioARG__HomeP1-DESKTOP {
        font-size: 3.5rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
        z-index: 3;
    }

}