// ESTILOS DE HOME P-3

@media screen and (min-width:360px) {
    #container-general__Home-P3 {
        /* border: 2px solid red; */
        height: 100vh;
        background-color: white;
        border: none;
    }

    #titulo-proyectos__Home-P3 {
        font-size: 25px;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-top: 2rem;
        color: #9333ea;
        ;
    }

    //? Contenedor de las cards de los proyectos
    #contenedor-cards-projects__Home-P3 {
        /* border: 2px solid slateblue; */
        margin-top: 2rem;
        padding: .5rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .card-project__Home-P3 {
        /* border: 2px solid firebrick; */
        height: 11.9rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        transition: .4s ease-in;
        background-blend-mode: multiply;
        border-radius: 5px;
        background-color: transparent;

        &:hover {
            background-color: rgba(0, 0, 0, 0.720);
        }
    }

    .container-refs__Home-P3 {
        /* border: 2px solid green; */
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1rem;
    }

    .nombre_card_project__Home-P3 {
        padding: 1rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 18px;
        font-weight: 300;
        z-index: 2;
        color: white;
        overflow-wrap: break-word;
        width: 50%;
        text-align: center;
    }

    .cont-ref__Home-P3 {
        border: 2px solid gray;
        border-radius: 50%;
        height: 3rem;
        width: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: .6rem;
    }

    .btn-ref__Home-P3 {
        width: 100%;
        height: 100%;
        color: white;
    }

    #container-ver-mas-proyectos__Home-P3 {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        background: linear-gradient(to top left, rgb(12, 12, 12), rgb(0, 0, 0));
        margin-top: 1rem;
        color: white;
    }

    #titulo-ver-mas__Home-P3 {
        font-weight: 300;
        font-size: 16px;
        padding: 1.5rem 0;
    }

    @keyframes slide {
        0% {
            transform: translateX(0px);
        }

        50% {
            transform: translateX(10px);
        }

        100% {
            transform: translateX(0px);
        }
    }

    #flecha-right__Home-P3 {
        width: 1.5rem;
        height: 1.5rem;
        margin-top: 1px;
        animation: slide 1.5s linear infinite;
    }
}

@media screen and (min-width:414px) {
    #container-ver-mas-proyectos__Home-P3 {
        margin-top: 2.5rem;
    }
}