// ? Home P1 - DESKTOP

//Con esta media query, ocultamos este componente en resoluciones mobiles
@media screen and (min-width:320px) and (max-width:1280px) {
    #container-general__HomeP1-DESKTOP {
        display: none;
    }
}

//* Media Querys para Desktop 

@media screen and (min-width:1280px) {
    #container-general__HomeP1-DESKTOP {
        /* border: 5px solid green; */
        height: 95vh;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 0;
    }

    
    #container_tituloYSubtitulos_HomeP1-DESKTOP{
       /*  border: 2px solid red; */
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        padding: 1rem;
    }
    

    #title-IgnacioARG__HomeP1-DESKTOP {
        font-size: 4rem;
        font-weight: 500;
        z-index: 3;
        margin-top: 8rem;
        width: 100%;
        text-align: center;
    }
}