// ? Styles Navbar Mobile

@media (min-width:320px) {
    #container-general__navbar-mobile {
        /* border: 2px solid red; */
        display: flex;
        background-color: #141414;
        padding: .5rem;
        width: 100%;
        z-index: 1;
    }

    .containers-navbar {
        height: 9vh;
    }

    .containers-navbar:nth-child(1) {
        /* border: 2px solid greenyellow; */
        width: 25%;
        padding: .8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .containers-navbar:nth-child(2) {
        /* border: 2px solid blue; */
        width: 75%;
        display: flex;
        justify-content: flex-end;
        padding: .6rem;
    }

    #logo-ia {
        /* border: 2px solid blueviolet; */
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    #icon-nav-mobile {
        color: white;
        height: 100%;
    }

    #contenedor-hamburguesa__navbar-mobile {
        transition: .5s ease-in-out;
        min-height: 0px;
    }

    @keyframes bg-animate {
        0% {
            background-color: #404040;
        }

        100% {
            background-color: #262626;
        }
    }

    .hm-hidden {
        display: none;
    }

    .hm-visible {
        min-height: 1px;
        animation-name: bg-animate;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        background-color: #262626;
    }

    .item-list-navbar-mobile {
        border-bottom: 1px solid gray;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        padding: 2.2rem;
        color: #e7e5e4;
        font-weight: 300;

        &::selection {
            background-color: transparent;
        }
    }

    .item-list-navbar-mobile:nth-child(4) {
        /* border: 3px solid red; */
        display: flex;
        justify-content: space-evenly;
    }

    #contenedor-social-media__navbar {
        /* border: 2px solid yellow; */
        width: 2.7rem;
        height: 2.7rem;
        padding: .5rem;
    }

    .logo-social-media__navbar-mobile {
        height: 100%;
        width: 100%;
    }
}

@media screen and (min-width:360px) {
    .containers-navbar:nth-child(1) {
        padding: 1.2rem;
    }

    .containers-navbar:nth-child(2) {
        padding: 1rem;
    }

    .item-list-navbar-mobile {
        font-size: 16px;
    }
}


@media screen and (min-width:375px) {
    .containers-navbar:nth-child(1) {
        padding: 1rem;
    }

    .containers-navbar:nth-child(2) {
        padding: 1rem;
    }
}

@media screen and (min-width:768px) {
    .containers-navbar:nth-child(1) {
        /* border: 2px solid greenyellow; */
        padding: 1.5rem;
    }

    .containers-navbar:nth-child(2) {
        /* border: 2px solid blue; */
        padding: 1.4rem;
    }

    .item-list-navbar-mobile {
        font-size: 20px;
    }
}

@media screen and (min-width:900px) {
    #container-general__navbar-mobile {
        display: none;
    }

    #contenedor-hamburguesa__navbar-mobile {
        display: none;
    }
}