 /* Estilos del componente 'Social Media Grid' */
 .contenedor-grid-socialMedia__Home-P4 {
     /* border: 2px solid blue; */
     margin: 1.5rem 0;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: .4rem;
     padding: 1rem;
 }

 .item-grid-socialMedia__Home-P4 {
     /*  border: 2px solid red; */
     background-color: #111111e0;
     padding: 10px;
     display: flex;
     gap: .1rem;
     align-items: center;
     text-decoration: none;
     border-radius: 15px;
     width: 95%;
 }

 .cont-logo-socialMed__Home-P4 {
     /* border: 2px solid green; */
     padding: 9px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .logo-socialMedia__Home-P4 {
     /* border: 2px solid red; */
     width: 1.8rem;
     height: 1.8rem;
 }

 .item-grid-socialMedia__Home-P4 h3 {
     /*  border: 2px solid red; */
     font-weight: 600;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     font-size: 14px;
     margin-top: 10px;
 }

 .text-instagram {
     background-image: linear-gradient(to right, #D64EC1, #9e2a91, #9833ac, #c13584, #D64EC1, #833ab4);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-clip: text;
     text-fill-color: transparent;
 }

 /* Estilos para cada contenedor de Social Media */
 .item-grid-socialMedia__Home-P4:nth-child(1) {
     color: #C5439D;
 }

 .item-grid-socialMedia__Home-P4:nth-child(2) {
     color: #2B7DBE;
 }

 .item-grid-socialMedia__Home-P4:nth-child(3) {
     color: #cacaca;
 }

 .item-grid-socialMedia__Home-P4:nth-child(4) {
     color: #64C351;
 }

 @media screen and (min-width:768px) {
     .contenedor-grid-socialMedia__Home-P4 {
         /*  border: 2px solid blue; */
         margin: 2rem 0;
         display: flex;
         flex-direction: row;
         gap: .6rem;
         flex-wrap: wrap;
     }

     .item-grid-socialMedia__Home-P4 {
         /* border: 2px solid red; */
         background-color: #111111ec;
         align-items: center;
         gap: 0;
         justify-content: center;
         width: 38%;
         height: 13rem;
         transition: .5s ease-in-out;
         &:hover{
            background-color: #111111d5;
         }
     }

     .item-grid-socialMedia__Home-P4 h3 {
         /*  border: 2px solid red; */
         font-weight: 600;
         font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
         font-size: 22px;
         margin-top: 10px;
     }

     .item-grid-socialMedia__Home-P4:nth-child(2) {
         margin-top: 5px;
     }
 }